<!DOCTYPE html>
<html lang="en">
<head>
  <title>RetroU McHacks</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/neonTitle.css">
  <link rel="stylesheet" href="css/funkyButton.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script type="text/javascript" src="js/instafeed.js"></script>
  <script type="text/javascript" src="js/changeimage.js"></script>
  <script type="text/javascript" src="js/runInstafeed.js"></script>
</head>
<body>

  <script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope, $http) {

    $scope.processImage = function() {
      var src = document.getElementById('featuredImg').src;
      $http({
        method: "GET",
        url: "http://localhost:3000/downloadPic?uri=" + src
      }).then(function onSuccess(results) {
        var colorOne = results.data.properties[0].color;
        var colorTwo = results.data.properties[1].color;

        $scope.myColor = "rgb("+ colorOne.red +", "+ colorOne.green +", "+ colorOne.blue +")";
        $scope.myColor2 = "rgb("+ colorTwo.red +", "+ colorTwo.green +", "+ colorTwo.blue +")";

      });
    }

    $scope.scrollToTop = function($var) {
      $('html, body').animate({
            scrollTop: 190
        }); // 'fast' is for fast animation
    };
  });
  </script>

    <div ng-app="myApp"  ng-controller="myCtrl">
      <div id="banner"></div>
      <div id="tv2" ng-style="{background: myColor }">
        <div id="tv">
          <div class="text-effect">
            <h1 class="neon" data-text="RetroU" contenteditable>RetroU</h1>
            <div class="gradient" ng-style="{'background': 'linear-gradient(45deg,'+ myColor +', '+ myColor2 +')'}"></div>
            <div class="spotlight"></div>
          </div>
        </div>
      </div>

      <div id="instafeed"></div>
        <div class="imagediv" ng-style="{background: myColor2 }">
        <div class="featured">
          <img src="./img/1.jpg" id="featuredImg">
        </div>
      </div>

      <script type="text/javascript">
        var text = '';
        setTimeout(function(){
          for (i = 0; i < finalImg.length; i++) {
              text += "<div class='col-lg-3 col-md-4 col-xs-6 mb-5' onclick='changeImage("+JSON.stringify(finalImg[i])+")' >"+
              "<a href='#featured'>"+
              "<img class='img-fluid img-thumbnail' src='//"+finalImg[i]+"'></img></a></div>";
          }
        },1000);

        setTimeout(function(){
          var div = document.getElementById( 'images' );
          div.insertAdjacentHTML( 'beforeend', text );
        },1000);
      </script>


      <div style="text-align:center;">
        <a href="#" id="button" style="width:40%;" ng-click = "scrollToTop()"><span ng-style="{'background-color': myColor }">Prev</span></a>
        <a href="#" id="button" style="width:40%;" ng-click = "scrollToTop()"><span ng-style="{'background-color': myColor }">Next</span></a>
      </div>

  <!-- Page Content -->
    <div class="container" ng-click = "scrollToTop(); processImage();">
      <div id="images" class="row text-center text-lg-left">
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/instafeed.js"></script>
    <script type="text/javascript" src="js/runInstafeed.js"></script>

</body>
</html>
